.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.year_table {
  width: 800px;
  height: 500px;
  border: 1px;
  border-color: "cyan";
  border-style: solid;
}
